.char{
    position: absolute;
    left: 0px;
    top: 0px;
}
.mapItem{
background-color: red;

}
.panel{
    position: relative;
    width: 200px;
    height:100%;
    background-color: red;
}
.main{
display: flex;
flex-direction: column;
}

.map{
    position: relative;
    background-image: url('./../../assets/gif/bground/sand.gif');  
    border:solid 1px;
}
.info{
    background-color:pink ;
}
.RockGreen{
    position:absolute;
}
.BushGreen{
    position:absolute;
}
.StairGreen{
    position:absolute;
}