
<div class="main">
    <div class="map" [ngStyle]="{'width.px':((this.planet.MaxX+1)*scale),'height.px':((planet.MaxY+1)*scale)}">
        <!-- Affichage des elements du decor -->
        <div *ngFor="let item of this.planet.Areas">
            <div [ngStyle]="{'position':'absolute','left.px':item.locX*scale,'top.px': item.locY*scale,'width.px' : scale , 'height.px':scale}">
                <img src="/assets/gif/{{item.imgItem}}" width={{scale}} alt="{{item.name}}">
            </div>
        </div>
        
        <!-- Affichage des Hero -->
        <div class="char" [ngStyle]="{'left.px':this.Hero.Loc.locAX*scale,'top.px': this.Hero.Loc.locAY*scale,'border-radius.px':5}"><img src="/assets/gif/link/{{Hero.Loc.orientation}}.gif" width={{scale}} alt="Link"></div>
        <!-- Affichage des mobs -->
        <div class="char" [ngStyle]="{'left.px':this.Mob.Loc.locAX*scale,'top.px': this.Mob.Loc.locAY*scale,'border-radius.px':5}"><img src="/assets/gif/mob/mob1/{{Mob.Loc.orientation}}.gif" width={{scale}} alt="Link"></div>
        <div class="char" [ngStyle]="{'left.px':this.Mob1.Loc.locAX*scale,'top.px': this.Mob1.Loc.locAY*scale,'border-radius.px':5}"><img src="/assets/gif/mob/mob1/{{Mob1.Loc.orientation}}.gif" width={{scale}} alt="Link"></div>

    </div>
<div class="info">{{this.Hero.Loc.locAX+"/"+this.Hero.Loc.locAY+" =======>"+totalSecondes}}</div>







