#all {
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;
    background-image: url('../../../../assets/gif/map/mainland/bground/sand.gif');
    flex-direction: column;
    border: solid 1px;
    float: left;
}

.panel {
    background-color: lightgrey;
    border: solid 1px;
    width: 210px;
    height: 500px;
    float: left
}

.char {
    position: absolute;
    left: 0px;
    top: 0px;
}

.char:hover{
    background-color: rgb(79, 153, 50);
}

.Mob{
    position: absolute;
    left: 0px;
    top: 0px;
}

.MobDeath{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
}

.MobSelected{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: red;
}

.info {
    background-color: pink;
}

.MapElement {
    position: absolute;
    height:  auto;
}

.MapElement:hover {
    //position: absolute;
    background-image: url('../../../../assets/gif/map/target.gif');
    background-size: 100%;
    //background-color: yellow;
}

.BoxMob{
    width: 182px;
    border: 1px ;
    display : flex ;
    margin: 2px;
}

.BoxMobImg{
    width: 24px;
    height: 24px;
}

.BoxMobName{
    font-size: 24px;
  
}
.BoxPvMax {
    position: relative;

    width: 200px;
    height: 24px;
    background-color: red;
    border: 1px solid;
    margin: 1px;
}

.BoxPv {
    height: 24px;
    background-color: greenyellow;
}

.BoxPwMax {
    position: relative;

    width: 200px;
    height: 24px;
    background-color: grey;
    border: 1px solid;
    margin: 1px;
}

.BoxPw {
    height: 24px;
    background-color: rgb(74, 166, 252);
}
.BoxText{
    font-size: 24px;
position: absolute;
left: 0px;
height: 0px;
}


.elem_col{
    width: 182px;
    border: 1px ;
    display : flex ;
    margin: 2px;
}


.elem_col_power{
    width: 80px;
    height: 24px;
    font-size: 24px;
    text-align: right;
}

.elem_col_img{
    width: 24px;
    height: 24px;
    image-resolution: 24px;

}
.elem_col_resist{
    width: 80px;
    height: 24px;
    font-size: 24px;
}

.ground_cell{
    position: absolute;
    }
.ground_cell_target{
    position: absolute;
    background-image: url('../../../../assets/gif/map/target_green.gif');
    background-size: 100%;
} 
.ground_cell:hover{
    position: absolute;
    background-image: url('../../../../assets/gif/map/target.gif');
    background-size: 100%;
    }
    