<div class="nodata" *ngIf="!planet">NO DATA</div>


<div class="all">
    <div class="panel">
        Scale :
        <button (click)=this.SetScale(16)>16</button>
        <button (click)=this.SetScale(24)>24</button>
        <button (click)=this.SetScale(32)>32</button>
        <button (click)=this.SetScale(48)>48</button>
        <button (click)=this.SetScale(64)>64</button>

        <div class="BoxPvMax">
            <div class="BoxText">{{this.Hero.stat.pv +" / "+this.Hero.stat.pvMax}}</div>
            <div class="BoxPv" [ngStyle]="{'width.px':((this.Hero.stat.pv/this.Hero.stat.pvMax*100)*2)}"></div>
        </div>
        <div class="BoxPwMax">
            <div class="BoxText">{{this.Hero.stat.pw +" / "+this.Hero.stat.pwMax}}</div>
            <div class="BoxPw" [ngStyle]="{'width.px':((this.Hero.stat.pw/this.Hero.stat.pwMax*100)*2)}"></div>
        </div>

        <div>Position : {{Hero.localisator.locAX+"/"+Hero.localisator.locAY}}</div>
        <div>Target : {{Hero.TargetLocalisator.locAX+"/"+Hero.TargetLocalisator.locAY}}</div>

        <div class="CharStatus" *ngIf="Hero.info.status=='move'">Status : 🥾 Marche</div>
        <div class="CharStatus" *ngIf="Hero.info.status=='idle'">Status : 🪑 Attend</div>
        <div class="CharStatus" *ngIf="Hero.info.status=='death'">Status : ☠ Mort</div>
        <div>Refresh : {{Hero.stat.coolDown}}</div>
    </div>

    <div class="map"[ngStyle]="{'width.px':((planet.MaxX+1)*scale),'height.px':((planet.MaxY+1)*scale),'background-size.px':scale}">
        <!-- Affichage des elements du decor  -->

        <div *ngFor="let item of planet.Areas">
            <div class="MapElement"[ngStyle]="{'left.px':item.localisator.locAX*scale,'top.px': item.localisator.locAY*scale, 'widt.px':scale, 'height.px':scale}" (click)="SetAreaTarget(item)">
                <img src="/assets/gif/map/{{item.imgItem}}" width={{scale}} alt="{{item.name}}">
            </div>
        </div>

        <!-- Affichage des mobs  -->
        <div *ngFor="let mob of planet.Horde">
            <div (click)="SetMobTarget(mob.id)" class="char"
                [ngStyle]="{'left.px':mob.localisator.locAX*scale,'top.px': mob.localisator.locAY*scale,'border-radius.px':5}">
                <div *ngIf="mob.info.status=='death'" class="MobDeath"><img src="/assets/gif/mob/{{mob.info.img}}/{{mob.info.orientation}}.gif" width={{scale}} alt="Link"></div>
                <div *ngIf="mob.info.status!='death'" class="Mob"><img src="/assets/gif/mob/{{mob.info.img}}/{{mob.info.orientation}}.gif" width={{scale}} alt="Link"></div>
            </div>
        </div>

        <!-- Affichage des Hero  -->
        <div class="char"[ngStyle]="{'left.px':this.Hero.localisator.locAX*scale,'top.px': this.Hero.localisator.locAY*scale,'border-radius.px':5}">
            <img src="/assets/gif/{{Hero.info.img}}/{{Hero.info.orientation}}.gif" width={{scale}} alt="Link">
        </div>

        <!-- Affichage de la destination du joueur -->
        <div class="ground_cell_target" [ngStyle]="{'width.px':scale,'height.px':scale,'left.px':(Hero.TargetLocalisator.locAX*scale),'top.px':(Hero.TargetLocalisator.locAY*scale)}"></div>
    </div>

    <div class="panel" *ngIf="MobTarget==0">
        <div>Area Name : {{this.planet.CurentArea.name}}</div>
        <div>Area Loc : {{this.planet.CurentArea.localisator.locAX+" / "+this.planet.CurentArea.localisator.locAY}}</div>

        <div>Area Main Trigger : {{this.planet.CurentArea.mainTrigger}}</div>
        <div>Area Sub Trigger : {{this.planet.CurentArea.subTrigger}}</div>

        <!-- <div *ngFor="let mob of planet.Horde">
            <div class="BoxMob">
                <div class="BoxMobImg">
                    <img src="/assets/gif/mob/{{mob.info.img}}/{{mob.info.orientation}}.gif" width="24px" alt="Link">
                </div>
                <div class="BoxMobName">
                    {{mob.info.name+" : "+mob.localisator.localisatorId}}
                </div>
            </div>
            <div class="BoxPvMax">
                <div class="BoxText">{{mob.stat.pv +" / "+mob.stat.pvMax}}</div>
                <div class="BoxPv" [ngStyle]="{'width.px':((mob.stat.pv/mob.stat.pvMax*100)*2)}"></div>
            </div>
            <div class="BoxPwMax">
                <div class="BoxText">{{mob.stat.pw +" / "+mob.stat.pwMax}}</div>
                <div class="BoxPw" [ngStyle]="{'width.px':((mob.stat.pw/mob.stat.pwMax*100)*2)}"></div>
            </div>
        </div>
         -->
    </div>

    <div class="panel" *ngIf="MobTarget!=0">
        <div class="BoxMob">

            <div class="BoxMobImg">
                <img src="/assets/gif/mob/{{this.planet.Horde[MobTarget-1].info.img}}/{{this.planet.Horde[MobTarget-1].info.orientation}}.gif" width="" alt="Link">
            </div>

            <div class="BoxMobName">
                {{this.planet.Horde[MobTarget-1].info.name}}
            </div>

            <div *ngIf="this.planet.Horde[MobTarget-1].info.status=='death'">Status : Mort</div>
            <div *ngIf="this.planet.Horde[MobTarget-1].info.status!='death'">Status : En Vie</div>
        </div>
        <div class="BoxPvMax">
            <div class="BoxText">{{this.planet.Horde[MobTarget-1].stat.pv +" / "+this.planet.Horde[MobTarget-1].stat.pvMax}}</div>
            <div class="BoxPv" [ngStyle]="{'width.px':((this.planet.Horde[MobTarget-1].stat.pv/this.planet.Horde[MobTarget-1].stat.pvMax*100)*2)}"></div>
        </div>
        <div class="BoxPwMax">
            <div class="BoxText">{{this.planet.Horde[MobTarget-1].stat.pw +" / "+this.planet.Horde[MobTarget-1].stat.pwMax}}</div>
            <div class="BoxPw" [ngStyle]="{'width.px':((this.planet.Horde[MobTarget-1].stat.pw/this.planet.Horde[MobTarget-1].stat.pwMax*100)*2)}"></div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">Power</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/triforce.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">Resist</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/eau.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/feu.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/air.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/terre.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/lumiere.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>
        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/tenebre.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/tranchant.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/ecrasant.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>
        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/percant.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div class="elem_col">
            <div class="elem_col_power">{{this.planet.Horde[MobTarget-1].power.air}}</div>
            <div class="elem_col_img"><img src="/assets/gif/elementaire/poison.gif" width=24 alt="Elementaire Air"></div>
            <div class="elem_col_resist">{{this.planet.Horde[MobTarget-1].resist.air}}</div>
        </div>

        <div *ngIf="Hero.info.strike==true"><button (click)="strike(this.planet.Horde[MobTarget-1].id)">Attaquer </button></div>

    </div>
</div>
