.char{
    position: absolute;
    left: 0px;
    top: 0px;
    width:32px;
    height: 32px;
}



  .map{
    position: relative;
    background-image: url('../../../assets/gif/bground/sand.gif');  
    
    border:solid 1px;
}

.info{
    background-color:pink ;
}

.MapElement{
    position:absolute;
}