
<div class="map" [ngStyle]="{'width.px':((planet.MaxX+1)*scale),'height.px':((planet.MaxY+1)*scale),'background-size.px':scale}">
     <!-- Affichage des elements du decor  -->
    <div *ngFor="let item of planet.Areas">
        <div class="MapElement"[ngStyle]="{'left.px':item.locX*scale,'top.px': item.locY*scale}">
            <div (click)="SetTarget()">
            <img src="/assets/gif/map/{{item.imgItem}}" width={{scale}} alt="{{item.name}}">
            </div>
        </div>
    </div>

    <!-- Affichage des Hero  -->
    <div class="char"  [ngStyle]="{'left.px':this.Hero.Localisator.locAX*scale,'top.px': this.Hero.Localisator.locAY*scale,'border-radius.px':5}"><img src="/assets/gif/link/{{Hero.Orientation}}.gif" width={{scale}} alt="Link"></div>
    
    <!-- Affichage des mobs  -->
    <div class="char" [ngStyle]="{'left.px':this.Mob.Localisator.locAX*scale,'top.px': this.Mob.Localisator.locAY*scale,'border-radius.px':5}"><img src="/assets/gif/mob/mob1/{{Mob.Orientation}}.gif" width={{scale}} alt="Link"></div>
</div>








